/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
   @media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    #header_area .col-md-5 ul{
      font-family: "Oswald", sans-serif;
      margin: 10px 0 0;
      padding: 0;
      list-style: none;
      text-align: right;
      font-size: 12px;
  }  
    
    
    
    
    
    
    
    
   }
   /* ==========================================================================
      Tablet Layout: 768px. 
      ========================================================================== */
   @media only screen and (min-width: 768px) and (max-width: 991px) { 
    
       
    #header_area .col-md-5 ul li a {
      font-size: 7px;
  }
       
       
       
       
       
       
    
       
       
   }
   /* ==========================================================================
      Wide Mobile Layout: 480px.
      ========================================================================== */
   @media only screen and (min-width: 200px) and (max-width: 767px) { 
   
       
    .slicknav_menu{
      display: block;
    }
    #header_area .col-md-5, .col-md-4{
      display: none;
    }
       
       

    .slicknav_nav, .slicknav_nav ul {
      list-style: none;
      overflow: hidden;
      width: 330px;
  }
       
  .slicknav_btn {
    background-color: #9f0625;
    border-radius: 2px;
    margin: 5px 5px 6px;
    right: 5px;
    text-decoration: none;
    top: 5px;
    z-index: 2147483647;
}
       
#header_area .col-md-3 a img{
  width: 170px;
}       
#homepage_section .col-md-6 h1 {
font-size: 30px;
}
#homepage_section .col-md-6 p {
font-size: 13px;
}
       

#section_2 .main_box {
display: inline;
}
   
#homepage_section .col-md-6 img {
  width: 100%;
  margin-top: 30px;
}
#section_2 .main_box .sub_box{
  display: inline;
}
#section_2 .main_box .sub_box .icon img {
  width: 150px;
  padding: 5px 0;
margin: 0 95px;
}
#section_2 .main_box .sub_box .text h2 {
  font-size: 50px;
  text-align: center;
}
#section_2 .main_box .sub_box .text p {
  text-align: center;
}
#hero_area .col-md-5 h3 {
  font-size: 40px;
}
#hero_area .col-md-3 img {
  margin-top: 20px;
}
#hero_area .col-md-5 p {
 font-size: 13px;
}
#section_2_1 .main_solution, .main_solution2 {
display: inline; 
}
.sub_solution {
  margin: 20px 60px;
}
#section_3_1 .col-md-6 h3 {
  font-size: 40px;
}
#section_3_1 .box1 h2 {
  font-size: 60px;
}
.main_box1 {
  display: inline;
}
.main_box1 .sub_box1 {
  margin: 12px 0px;
  width: 100%;
}

   img {
    max-width: 90%;
}

#hero_area .col-md-6 h2 {
  font-size: 26px;
}
#hero_area .col-md-6 p {
  font-size: 12px;
}
#hero_area .col-md-6 img {
  margin-top: 28px;
}
#section_2 .col-md-6 .box {
  margin: 17px -7px;
   }
   #section_3 .col-md-6 .mini_box {
    width: 272px;
}
#section_5 .title_line p {
  font-size: 12px;
}
#section_5 .main_box {
  display: inline;
}
#section_5 .main_box .sub_box {
  margin: 10px 50px;
}
#cover_item .col-md-12 input {
  width: 224px;
}
#cover_item .col-md-12 {
  height: 201px;
  border-radius: 23px;
}
#copyright_area .col-md-6 a {
  margin: 0 120px;
}
#copyright_area .col-md-6 p {
  margin: 6px 62px;
}
#hero_area {
  margin-top: 0px;
}
#section_2 {
  margin-top: 50px;
}
#section_4 {
  margin-top: 0px;
}
#message {
  width: 380px;
}
.main_box {
  display: inline;
}
#hero_area_1 .col-md-12 h2 {
  font-size: 37px;
}
.sub_box_text {
  margin-left: 0px;
}
.box_text input {
  width: 380px;
}
#cover_item .col-md-12 h2 {
  margin-top: 12px;
  font-size: 12px;
}
#cover_item .col-md-12 p {
  padding: 0px;
  font-size: 10px;
}

}